.card {
    transition: 0.3s;
}

.container {
    padding: 2px 16px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    align-items: right;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(202, 202, 202);
}

#userbtn {
    color: white;
}

input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(202, 202, 202);
}

a {
    color: white;
    margin-left: 13px;
    padding-top: 13px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

input {
    margin-bottom: 8px;
}

#book {
    margin: 5px;
    /* margin-left: 20px; */
    /* margin-bottom: 30px; */
    display: inline-block;
    text-align: left;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 9px;
    background-color: rgb(245, 234, 224);
    width: 230px;
    align-items: center;
}


.image {
    padding: 15px;
    border-radius: 11%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h4 {
    margin-left: 6px;
}

#search {
    border-radius: 25px;
    width: 550px;
    height: 40px;
    margin-bottom: 25px;
    margin-top: 15px;
}

#addbook {
    display: none;
    border-radius: 15px;
    border: 2px solid rgb(177, 177, 177);
    width: 180px;
    height: auto;
    align-content: center;
}

#viewCard {
    display: none;
    border-radius: 15px;
    border: 2px solid rgb(177, 177, 177);
    width: 500px;
    height: 350px;
    align-content: center;
    position: absolute;
    margin-top: 95px;
    background-color: white;
}

#viewForm {
    display: none;
}

#userInfoCard {
    border-radius: 15px;
    border: 2px solid rgb(177, 177, 177);
    width: 120px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(177, 177, 177);
}

#submitChangeEmail {
    border-radius: 10px;
    border: 2px solid rgb(177, 177, 177);
}

#inputChangeEmail {
    border-radius: 10px;
    border: 2px solid rgb(177, 177, 177);
    width: 90px;
    margin-top: 10px;
}

#orders {
    margin-top: -10px;
}

textarea {
    width: 140px;
}

#title {
    margin-top: 10px;
}

.detailed-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 40%;
    max-width: 400px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    border: 2px solid rgb(177, 177, 177);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50%;
}